%link{rel: :stylesheet, type: "text/css", href: '/stylesheets/about.css'}

%div.title-section
  %h1.title Hi, I'm Nate

%p.bio At the most basic level, I love building things. This passion started with legos, matured through catapults and rocketry, and blossomed through software engineering and woodworking.
%p.bio A summer internship at Google, while educational, convinced me that I belonged at a small, fast-paced company that was.
%p.bio Out of college I got a job as a software engineer at BookBub, where I still am today. I got to work on some amazing projects, like a mailing engine engine that sends 10 million personalized emails a day, or an ad platform that serves 50 million requests a day.
%p.bio Eventually, I decided I wanted to try my hand at Product. Since Q2 of 2018 I've been working as the Product Manager of Growth at BookBub, where I focus on growing the consumer side of the business.

%li.bio Ruby & Rails
%li.bio React & Flux
%li.bio Docker

%p.bio When I'm not coding you can find me.

%li.bio Hiking/Camping
%li.bio Climbing
%li.bio DIY Projects
%li.bio Snowboarding
%li.bio Wood Working

%p.bio
  Check out my
  %a.bio-link{href: "/projects.html"}
    Projects
  and
  %a.bio-link{href: "/blog.html"}
    Blog
  to learn more

%p.copyright.mobile-copyright &copy; 2018 Codemang
