%link{rel: :stylesheet, type: "text/css", href: '/stylesheets/about.css'}

%div.title-section
  %div.title-line
    %h1.title About Me!

%p.bio I am a full stack developer with experience building Web apps, IOS apps, and more.
%p.bio My go to tools are.

%li.bio Ruby & Rails
%li.bio React & Flux
%li.bio Docker

%p.bio When I'm not coding you can find me.

%li.bio Hiking/Camping
%li.bio Climbing
%li.bio DIY Projects
%li.bio Snowboarding
%li.bio Wood Working

%p.bio
  Check out my
  %a.bio-link{href: "/projects.html"}
    Projects
  and
  %a.bio-link{href: "/blog.html"}
    Blog
  to learn more

%p.copyright.mobile-copyright &copy; 2018 Codemang
