!!!
%html>
  %head>
    %link{rel: :stylesheet, type: "text/css", href: 'https://fonts.googleapis.com/css?family=Lato:400,700,900'}
    %link{rel: :stylesheet, type: "text/css", href: 'https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab:100,300,400'}
    %link{rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", integrity: "sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP", crossorigin: "anonymous"}
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous"}

    = stylesheet_tag 'app'

    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %script{type: 'text/javascript', src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
  %body
    %div.nav-section
      %div.profile-container
        %img.profile-image{src: "https://i.imgur.com/oSkgQJm.jpg"}
        %p.name Nate Rubin
        %p.full-stack Developer & Product Manager
        %i.fas.fa-bars.hamburger"
      %div.hidable-nav
        %div.nav-item-container
          %a.nav-item{ class: @active_nav_item == 'about' && 'active-nav-item', href: '/'} About
          %a.nav-item{ class: @active_nav_item == 'projects' && 'active-nav-item', href: "/projects"} Projects
          %a.nav-item{ class: @active_nav_item == 'blog' && 'active-nav-item', href: "/blog"} Blog
          %a.nav-item{ class: @active_nav_item == 'contact' && 'active-nav-item', href: "/contact"} Contact

        .social-media-item-container
          %a.nav-item.social-media-item{:href => "https://github.com/codemang", :target => "_blank"}
            %i.fab.fa-github.social-icon
          %a.nav-item.social-media-item{:href => "https://www.linkedin.com/in/nathaniel-rubin-732307b2", :target => "_blank"}
            %i.fab.fa-linkedin.social-icon
          %a.nav-item.social-media-item{:href => "https://www.instagram.com/natertottot/", :target => "_blank"}
            %i.fab.fa-instagram.social-icon

        %p.copyright &copy; 2018 Codemang

    %div.content-section
      %div.content-center-wide
        =yield

        %p.copyright.mobile-copyright &copy; 2018 Codemang
    :javascript
        $('.hamburger').on('click', function() {
          $('.hidable-nav').toggleClass('visible-nav');
        });
