.title-section {
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
}

.bio {
  color: #3e3e3e;
}

li.bio {
  margin: 3px;
  margin-left: 35px;
}
.bio-link {
  color: #F06292;
}

.bio-link:hover {
  color: #C2185B;
}


@media only screen and (max-width: 600px) {
  .title-section {
    margin-top: 0;
  }
}
