.project-body-image {
  width: 230px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.project-body-image-left {
  float: left;
  width: 200px;
}
.project-headline {
  overflow: auto;
  margin-bottom: 29px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 35px;
}
.project-metadata {
  margin-left: 200px;
}
.project-container-no-border {
  border: 0;
}
.project-subtitle {
  font-size: 22px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
  padding-bottom: 5px;
  margin-top: 70px;
}
.project-numbered-list-container {
  margin-top: 20px;
}
.project-numbered-list {
  padding-left: 20px;
  margin-top: 10px;
}
.project-body-image-left {
  float: left;
  width: 200px;
}
.project-body-image-mobile {
  display: none;
}
.project-subcontainer {
  display: inline-block;
}
.project-p-with-image-left {
  margin-left: 230px;
  margin-top: 50px;
}
.project-body-image-even {
  display: inline-block;
  object-fit: cover;
  width: 180px;
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.project-body-image-container {
  text-align: center;
}
.project-body-image-final {
  width: 100%;
  margin-top: 30px;
}
.article-p {
  margin: 20px 0;
}
@media only screen and (max-width: 600px) {
  .project-body-image-left {
    display: none;
  }
  .project-body-image-mobile {
    margin-top: 20px;
    display: block;
  }
  .project-p-with-image-left {
    margin-left: 0;
    margin-top: 25px;
  }
  .project-body-image-even {
    width: 100%;
    height: inherit;
  }
  .project-metadata {
    margin-right: 0;
    .project-container {
      padding: 0;
      margin-bottom: 0;
    }
  }
}
