%div.title-section
  %div.title-line
    %h1.title Projects

.project-headline
  %img.project-body-image.project-body-image-left{ src: "https://i.imgur.com/FaiyoJO.jpg"}
    .project-metadata
      = haml :"partials/project_card", locals: {project: @project, extra_css_classes: 'project-container-no-border'}
.project-body
  %p
    As a frequenter of
    %a{href: "https://reddit.com/r/diy"}
      r/diy
    I have seen several submissions of wooden low poly art. Low poly art is a class of artwork that renders real life images (usually of nature or animals) as a collection of distinct polygons and complementary colors. One day I found this low poly rendering of a fox, and convinced myself that I had to take a stab at creating a wooden version of it.</p>

%img.project-body-image{src: "https://i.imgur.com/3gfExOm.jpg"}
%h3.project-subtitle Project Overview
%p This is the outline for the project
.project-numbered-list-container
  %p.project-numbered-list 1. Create an outline of the fox in Inkscape.
  %p.project-numbered-list 2. Use the outline to laser cut the fox out of wood.
  %p.project-numbered-list 3. Paint the wood to match the digital image.  %p.project-numbered-list 4. Build a wooden background and stain it white.
  %p.project-numbered-list 5. Glue the fox onto the wood background.

.project-subcontainer
  %h3.project-subtitle Step 1: Vectorize
  %img.project-body-image.project-body-image-left{src: "https://i.imgur.com/kKnsBR2.png?1"}
  %p.project-p-with-image-left I first loaded up this image into Inkscape, a photo editing software. I proceeded to outline all the polygons using the pencil tool. I also added numbers to each tile. This will prove to be very useful later on.
  %img.project-body-image.project-body-image-mobile{src: "https://i.imgur.com/kKnsBR2.png?1"}

.project-subcontainer
  %h3.project-subtitle Step 2: Laser Cut
  %img.project-body-image.project-body-image-left{src: "https://i.imgur.com/pXV6Eda.jpg?1"}
  %p.project-p-with-image-left Through my work I have access to a laser cutter for free! I picked up some one dollar scrap wood from Home Depot that worked perfectly for my needs. I cut out the edges of the outline, and etched the numbers into the wood. The numbers made it much easier to re-assemble my fox once I painted it.
  %img.project-body-image.project-body-image-mobile{src: "https://i.imgur.com/pXV6Eda.jpg?1"}

.project-subcontainer
  %h3.project-subtitle Step 3: Painting
  %p This was the most time consuming part of the process. I first did two coats of primer, then one to two coats of paint. I used acrylic primer and paint for this.
  %img.project-body-image.project-body-image-even{src: "https://i.imgur.com/oH2Y7Ev.jpg"}
  %img.project-body-image.project-body-image-even{src: "https://i.imgur.com/FTiv507.jpg"}
  %img.project-body-image.project-body-image-even{src: "https://i.imgur.com/Sg1YkrE.jpg"}

.project-subcontainer
  %h3.project-subtitle Step 4: Wooden Background
  %p I bought a plank of common wood from Home Depot and used a circular saw to cut out three equally sized segments. After some sanding, I proceeded to stain it with a dark walnut, and then multiple coats of white-wash to give it a weathered barn look.
  %img.project-body-image.project-body-image-even{src: "https://i.imgur.com/IoP2Rot.jpg"}
  %img.project-body-image.project-body-image-even{src: "https://i.imgur.com/bUR6ZvC.jpg"}
  %img.project-body-image.project-body-image-even{src: "https://i.imgur.com/226hgRO.jpg"}

.project-subcontainer
  %h3.project-subtitle Step 5: Gluing The Fox
  %p When I cut out the fox, I kept the original sheet of wood. I used that piece of wood as a frame to hold the individual tiles together while gluing. I went tile by tile until they were all glued to the background.
  .project-body-image-container
    %img.project-body-image.project-body-image-even{src: "https://i.imgur.com/5NnDmms.jpg"}
    %img.project-body-image.project-body-image-even{src: "https://i.imgur.com/OPydYUf.jpg"}

.project-subcontainer
  %h3.project-subtitle Step 6: Profit!
  %p It's all done, and looks better than I had hoped for!
  .project-body-image-container
    %img.project-body-image.project-body-image-final{src: "https://i.imgur.com/FaiyoJO.jpg"}
